	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-15">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>Votre situation</h3>
		</div>
	{% if handicap == TRUE %}
		<p>Vous êtes handicapé(e).</p>
	{% endif %}
	{% if handicap == FALSE %}
		<p>Vous n'êtes pas handicapé(e).</p>
	{% endif %}
	{% if lien == 0 %}
	<p>Vous êtes le mari du défunt.</p>
	{% endif %}
	{% if lien == 1 %}
	<p>Vous êtes un ascendant direct du défunt.</p>
	{% endif %}
	{% if lien == 2 %}
	<p>Vous êtes le fils ou la fille du défunt.</p>
	{% endif %}
	{% if lien == 3 %}
	<p>Vous êtes le petit-fils/petite-fille ou arrière-petit-fils/arrière-petite-fille du défunt.</p>
	{% endif %}
	{% if lien == 4 %}
	<p>Vous êtes le frère ou la soeur du défunt.</p>
	{% endif %}
	{% if lien == 5 %}
	<p>Vous êtes le neveu ou la nièce du défunt.</p>
	{% endif %}
	{% if lien == 6 %}
	<p>Vous êtes parent jusqu'au 4ème degré inclus du défunt.</p>
	{% endif %}
	{% if lien == 7 %}
	<p>Vous êtes sans lien de sang avec le défunt ou parent du 5ème degré minimum.</p>
	{% endif %}
	{% if lien == 8 %}
	<p>Vous êtes le partenaire de PACS du défunt.</p>
	{% endif %}
	{% if lien == 8 %}
	<p>Le partenaire d'un PACS n'a pas de vocation successorale sauf dispositions testamentaires.</p>
	{% endif %}
	</div>
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-usd" style="font-size:300%;"></span>
		<h3>Votre Bilan</h3>
		</div>
	<table class="table table-hover">
	<thead>
	<tr class="success">
		<th>Votre héritage</th>
		<th>Droits de succession à payer</th>
		<th>Montant net à recevoir</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{somme| number_format(2,',',' ')}} euros</td>
		<td>{{taxe| number_format(2,',',' ')}} euros</td>
		<td>{{result| number_format(2,',',' ')}} euros</td>
	</tr>
	</tbody>
	</table>
	<p>Informations non contractuelles, calculées sur les bases du montant du patrimoine net renseigné.</p>
{%endblock%}

